<h2><%= @merchant.name %>'s Dashboard<h2>

<h4><%= @merchant.name %>'s Current Stock<h4>

<% @items.each do |i| %>
  <div id="item-<%= i.id %>">
    <p><%= link_to i.name, api_v1_item_path(i.id), method: :get, local: true %></p>
  </div>
<% end %>